<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.multiple.data.sources.mapper.ms.UserTableMapper">

    <select id="getAllUserTables" resultType="com.zyl.multiple.data.sources.pojo.ms.UserTable">
        select *
        from user_table
    </select>

    <insert id="addMsUser" parameterType="com.zyl.multiple.data.sources.pojo.ms.UserTable">
        insert into user_table(name,age) values (#{name},#{age})
    </insert>

</mapper>